html{
    height: 100%;
    margin: 0%;
    background-image: url(https://cdn.pixabay.com/photo/2018/02/15/14/37/paper-3155438_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    color: rgba(40, 40, 39, 0.908);
    font-size: 70px;
    font-family: fantasy;
    text-align: center;
    font-weight:bold;
}

ul{
    text-align: center;
    color: rgb(65, 65, 63);
    backdrop-filter: sepia(100%);
}

a{
    color: black;
    text-decoration: wavy;
    font-size: 20px;
}